@font-face {
  font-family: "Bowler";
  src: url("../fonts/bowler.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/unbounded.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bowler: Bowler, "sans-serif";
  --font-unbounded: Unbounded, "sans-serif";
}
